* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body-wrapper {
  width: 100%;
  padding: 80px 80px;
  display: flex;
  justify-content: center;
}

section {
  width: 768px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-heading {
  font-size: 30px;
  font-weight: bold;
}

.books-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.books-container p {
  font-size: 18px;
  font-weight: 400px;
  padding: 0;
  margin: 0;
  padding-top: 10px;
}

.books-container .book-author {
  padding: 0px;
  font-weight: bolder;
  margin-top: 5px;
  margin-bottom: 6px;
}

.no-books {
  display: block;
}

.add-books-container {
  margin-top: 50px;
  width: 768px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-books-container h2 {
  text-decoration: underline;
}

#submit {
  padding: 6px 20px;
}

.remove-button {
  padding: 1px 6px;
}

input {
  padding: 5px;
  width: 60%;
}

.books-table {
  border: 2px solid #000;;
}

.books-table tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  column-gap: 400px;
}

tr:nth-child(even) {
  background-color: #fff;
}

tr:nth-child(odd) {
  background-color: #DDDDDD;
}

.book-title {
  background-color: transparent;
}

form {
  width: 100%;
  padding: 5% 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
}

#submit {
  width: 30%;
}